*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-color: aliceblue;
    font-family: sans-serif;
}

header{
    width: 100%;
    background-color: #CADE01;
}
.titulo{
    color:  #120727;
    font-size: 20px;

}

.part-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    
}

.icon img{
    width: 100px;
    margin-left: 20px;
    color: #FFFFFF;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #120727;
    
}


.portada img{
    width: 80px;
}


/* ################## COLORES ####################### 

#120727
#6924A5
#ffffff
#CADE01 
*/

/* ############NAVEGADOR ESTILOS ###################333 */

#header {
    margin:auto;
    width: 100%;
    

}

ul, ol{
    list-style: none;
}

.nav li a{
    background-color: #120727;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    
}
.nav li a:hover{
    background-color: #434343 ;
}
.nav > li{
    float: left;
}

.nav li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}

/* ############ SECTION ################# */

.contenido{
    background-color: #FFFFFF;
    max-width: 1100px;
    width: 100%;
    margin: 40px auto;
    display: flex ;
}

.mostrador{
    width: 100%;
    height: 400px;
    transition: .5s ease;
    overflow: hidden;
    border-radius: 10px;
}

.mostrador .ropa{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 5px;
    border-radius: 10px;
}
.contenedor-foto{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.contenedor-foto:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}
.contenedor-foto img{
    width: 100%;
    height: 200px;
    border-radius: 10px  10px 0 0;
}


.contenedor-foto p{
    margin: 5px;
}

.mostrador .ropa .item{
    width: 200px;
    padding: 10px;
    height: 300px;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}

.mostrador .ropa .item img{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
}
.mostrador .ropa .item .descripcion{
    color: #120727;
    font-weight: 10px;
}

.mostrador .ropa .item .precio{
    color: #CADE01;
    font-weight: 8px;
    font-size: 15px;
}

.contenedor-foto a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px;
    background-color: black;
}

.contenedor-foto a:hover{
    background-color: #CADE01;
}





/* ################# PIE DE PAGINA ############## */

footer{
    list-style: none;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.footer{
    background-color: #120727;
    padding: 50px 0;

}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-links{
    width: 25%;
    padding: 0 15px;
}
.footer-links h4{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #CADE01;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #d5bebe;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-links ul li a:hover{
    color: #434343;
    padding-left: 6px;
}
.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    margin: 0 10px 10 px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all .5s ease;
}

.social-link a:hover{
    background-color:  #434343;
}
